/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #00e81f;
  --color-primary-light: #21fc3e;
  --color-primary-dark: #04c51e;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  color: var(--Grey-dark-2);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-image: linear-gradient(to right top, rgba(65, 255, 113, 0.9), #fa873b);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--Grey-light-2);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--Grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 11rem;
      align-content: space-around; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column-reverse; } }

.sidebar {
  background-color: #2c2c2c;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.social-view {
  flex: 1; }

.details {
  font-size: 1.4rem;
  display: flex;
  padding: 4rem;
  background-color: var(--Grey-light-1);
  border-bottom: 2px solid var(--Grey-light-1); }
  @media only screen and (max-width: 56.25em) {
    .details {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .details {
      flex-direction: column; } }

.description {
  background-color: #fff;
  flex: 1;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 3rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.user-review {
  flex: 0 0 40%; }

.logo {
  height: 3.25rem;
  margin-right: 3rem; }
  @media screen and (max-width: 31.25em) {
    .logo {
      order: -1;
      margin-left: 2rem; } }

.search {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--Grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    margin-right: -3.5rem;
    transition: all 0.3s; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--Grey-light-3); }
    .search__input::-webkit-input-placeholder {
      color: var(--Grey-dark-3);
      font-weight: 100; }
  .search__input:focus + .search__button {
    background-color: var(--Grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--Grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(0.2rem); }
  .search__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--Grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--Grey-light-1); }
  .user-nav__photo {
    height: 5.75rem;
    width: 5.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__jawad {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--Grey-dark-2); }
  .user-nav__message {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    left: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.side__nav {
  font-size: 1.6rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side__nav {
      display: flex;
      margin: 0; } }
  .side__nav__items {
    position: relative; }
    .side__nav__items:not(:last-child) {
      margin-bottom: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .side__nav__items:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side__nav__items {
        flex: 1; } }
  .side__nav__items::before {
    display: block;
    content: "";
    height: 100%;
    width: .3rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffa938;
    transform-origin: center;
    transform: scaleY(0);
    transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1), background-color 0.1s; }
  .side__nav__items:hover::before, .side__nav__items-active::before {
    transform: scaleY(1);
    width: 100%;
    color: var(--Grey-dark-3);
    fill: currentColor; }
  .side__nav__items:active::before {
    background-color: var(--color-primary); }
  .side__nav__links:link, .side__nav__links:visited {
    color: var(--Grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side__nav__links:link, .side__nav__links:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side__nav__links:link, .side__nav__links:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
  .side__nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side__nav__icon {
        margin-right: 0;
        margin-bottom: .6rem; } }

.legal {
  font-size: 1.3rem;
  padding: 2rem;
  text-align: center;
  color: var(--Grey-light-1); }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallary {
  display: flex; }
  .gallary__item {
    overflow: hidden; }
  .gallary__photo {
    width: 100%;
    height: 100%;
    display: block;
    transform: translate(1.15rem) scale(1.15);
    transition: all 0.4s; }
    .gallary__photo:hover {
      transform: translate(1rem) scale(1.03); }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--Grey-light-1); }
  .overview__heading {
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    font-weight: 600;
    color: #ffa228; }
    @media screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
  .overview__home {
    margin-right: auto;
    display: flex; }
  .overview__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    margin-left: auto;
    font-size: 1.2rem;
    display: flex;
    vertical-align: center; }
  .overview__icoloca {
    margin-right: 0.5rem; }
  .overview__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: white;
    align-self: stretch;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0rem 1.5rem; } }
    .overview__rating-app {
      font-size: 2.25rem;
      font-weight: 300; }
      @media screen and (max-width: 37.5em) {
        .overview__rating-app {
          font-size: 1.8rem; } }
    .overview__rating-appvote {
      font-size: .8rem;
      text-transform: uppercase; }
      @media screen and (max-width: 37.5em) {
        .overview__rating-appvote {
          font-size: .5rem; } }

.btn__inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  display: inline;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s; }
  .btn__inline:hover {
    color: var(--Grey-dark-1); }
  .btn__inline:focus {
    outline: none;
    animation: bounce 1s infinite; }

@keyframes bounce {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-bottom: 1px solid var(--Grey-light-1); }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      .list__item::before {
        background-color: #00f;
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none; } }

.recommand {
  font-size: 1.1rem;
  display: flex;
  align-items: center; }
  .recommand__paragraph {
    margin-right: auto; }
  .recommand__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 2px solid var(--color-primary); }
    .recommand__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  position: relative;
  background-color: #fff;
  padding: 2.0rem;
  box-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  .review:not(:last-of-type) {
    margin-bottom: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-right: 2.8rem; } }
  .review__paragraph {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10; }
  .review__user {
    display: flex;
    align-items: center;
    justify-content: center; }
  .review__box {
    margin-right: auto; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.7rem; }
  .review__name {
    font-weight: 600; }
  .review__rating {
    font-size: 1.6rem;
    color: var(--color-primary); }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem; } }
  .cta__header {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-weight: 600; }
  .cta__button {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    background-image: linear-gradient(to right, #f88832, #68f032);
    color: #fff;
    border-radius: 10rem;
    overflow: hidden;
    position: relative; }
    .cta__button-up {
      display: inline-block;
      padding: 2rem 7.5rem;
      height: 100%;
      width: 100%; }
    .cta__button-down {
      display: inline-block;
      padding: 2rem 0;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: -100%; }
    .cta__button > * {
      transition: all 0.3s; }
    .cta__button:hover .cta__button-up {
      transform: translateY(100%); }
    .cta__button:hover .cta__button-down {
      top: 0; }
