/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #00e81f;
  --color-primary-light: #21fc3e;
  --color-primary-dark: #04c51e;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;

  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
}

$bp-large:75em; //1200px
$bp-larg:68.75em; //1100px
$bp-pad:56.25em; //900px
$bp-phone:37.5em; //600px
$bp-one:31.25em; //500px
$bp-on:25em; //400px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;

  @media screen and (max-width: $bp-larg) {
    font-size: 50%;

  }
}

body {
  color: var(--Grey-dark-2);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-image: linear-gradient(to right top, rgba(65, 255, 113, 0.9), rgb(250, 135, 59));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}