//header logo
.logo {
    height: 3.25rem;
    margin-right: 3rem;

    @media screen and (max-width: $bp-one) {

        order: -1;
        margin-left: 2rem;
    }

    @media screen and (max-width: $bp-on) {

        order: -3;
    }

}

//search box
.search {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $bp-one) {

        order: 1;
        flex: 0 0 100%;
    }

    @media screen and (max-width: $bp-on) {

        order: -2;
        flex: 0 0 40%;
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--Grey-light-2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        margin-right: -3.5rem;
        transition: all 0.3s;

        &:focus {
            width: 100%;
            outline: none;
            background-color: var(--Grey-light-3);

        }

        &::-webkit-input-placeholder {
            color: var(--Grey-dark-3);
            font-weight: 100;
        }
    }

    &__input:focus+&__button {
        background-color: var(--Grey-light-3);

    }

    &__button {
        border: none;
        background-color: var(--Grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(.2rem);
        }

    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--Grey-dark-3);


    }
}

//usernavigation
.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;

    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;

        @media screen and (max-width: $bp-on) {
            justify-content: space-between;

        }

    }

    &>*:hover {
        background-color: var(--Grey-light-1);
    }

    &__photo {
        height: 5.75rem;
        width: 5.75rem;
        border-radius: 50%;
        margin-right: 1rem;

    }

    &__jawad {
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: capitalize;



    }

    &__icon-box,
    &__ib {
        position: relative;


    }

    &__ib {
        z-index: 15;
    }

    &__ib:hover &__down-navi {
        display: contents;
    }

    &__down-navi {
        transition: display 1.4s 1.5s;
        display: none;
    }

    &__megaphonebox {
        box-shadow: 1rem 2rem 2rem rgba($color: #000000, $alpha: .3);
        padding: 1.5rem 2rem;
        height: 25rem;
        width: 30rem;
        background-color: white;
        list-style: none;
        position: absolute;
        top: 7rem;
        left: 0;
        border-bottom-right-radius: .2rem;
        border-bottom-left-radius: .2rem;
        display: flex;
        flex-direction: column;

        @media screen and (max-width:$bp-larg) {
            font-size: 1.4rem;

        }

        @media screen and (max-width:$bp-pad) {
            font-size: 1.2rem;

        }

        @media screen and (max-width:$bp-one) {
            left: -14rem;
            height: 20rem;
            width: 25rem;
        }

    }

    &__downlist {
        padding: 1rem 0;

        @media screen and (max-width:$bp-one) {

            padding: .5rem 0;

        }

        :not(:last-child) {
            margin-bottom: 2rem;

            @media screen and (max-width:$bp-one) {

                margin-bottom: .5rem;

            }
        }

    }

    &__downlink {
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        display: flex;
        transition: all 0.3s;

        &:hover {
            border-bottom: 2px solid rgb(255, 203, 31);

        }


    }

    &__downphoto-1 {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        align-content: center;
        margin-right: 2.5rem;

    }

    &__downpgp-1 {
        letter-spacing: .1rem;

        &-1 {
            color: var(--Grey-dark-3);
            font-size: 1.2rem;
        }

        &-2 {
            color: var(--Grey-dark-1);
            font-weight: 600;

        }
    }




    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--Grey-dark-2);

    }

    &__message {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        left: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


//side navigation

.side__nav {
    font-size: 1.6rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-pad) {
        display: flex;
        margin: 0;
    }

    &__items {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 2rem;

            @media only screen and (max-width: $bp-pad) {
                margin-bottom: 0;
            }
        }

        @media only screen and (max-width: $bp-pad) {
            flex: 1;
        }

    }

    &__items::before {
        display: block;
        content: "";
        height: 100%;
        width: .3rem;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(255, 169, 56);
        transform-origin: center;
        transform: scaleY(0);
        transition: transform 0.3s, width .4s cubic-bezier(1, 0, 0, 1), background-color 0.1s;

    }

    &__items:hover::before,
    &__items-active::before {

        transform: scaleY(1);
        width: 100%;
        color: var(--Grey-dark-3);
        fill: currentColor;
    }

    &__items:active::before {

        background-color: var(--color-primary);

    }


    &__links {

        &:link,
        &:visited {
            color: var(--Grey-light-1);
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            padding: 1.5rem 3rem;
            z-index: 10;
            position: relative;

            display: flex;
            align-items: center;

            @media only screen and (max-width: $bp-pad) {
                justify-content: center;
                padding: 2rem;
            }

            @media only screen and (max-width: $bp-phone) {
                flex-direction: column;
                padding: 1.5rem .5rem;
            }
        }


    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

        @media only screen and (max-width: $bp-phone) {
            margin-right: 0;
            margin-bottom: .6rem;
        }
    }

}

.legal {
    font-size: 1.3rem;
    padding: 2rem;
    text-align: center;
    color: var(--Grey-light-1);

    @media only screen and (max-width: $bp-pad) {
        display: none;
    }
}


//gallary
.gallary {
    display: flex;

    &__item {
        overflow: hidden;
    }

    &__photo {
        width: 100%;
        height: 100%;
        display: block;
        transform: translate(1.15rem) scale(1.15);
        transition: all 0.4s;


        &:hover {
            transform: translate(1.0rem) scale(1.03);

        }
    }
}



.overview {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--Grey-light-1);

    &__heading {
        font-size: 2.6rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
        font-weight: 600;
        color: rgb(255, 162, 40);

        @media screen and (max-width: $bp-phone) {

            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }

    &__home {
        margin-right: auto;
        display: flex;
    }

    &__icon {
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        margin-left: auto;
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;
    }

    &__icoloca {
        margin-right: 0.5rem;
    }


    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: white;
        align-self: stretch;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $bp-phone) {


            padding: 0rem 1.5rem;
        }

        &-app {
            font-size: 2.25rem;
            font-weight: 300;

            @media screen and (max-width: $bp-phone) {

                font-size: 1.8rem;
            }
        }

        &-appvote {
            font-size: .8rem;
            text-transform: uppercase;

            @media screen and (max-width: $bp-phone) {

                font-size: .5rem;
            }
        }
    }
}

.btn__inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding: 2px;
    display: inline;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;

    &:hover {
        color: var(--Grey-dark-1);
    }

    &:focus {
        outline: none;
        animation: bounce 1s infinite;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
        box-shadow: none;

    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: .3);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }

}


//description

.paragraph {
    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }


}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-bottom: 1px solid var(--Grey-light-1);

    &__item {
        flex: 0 0 50%;
        margin-bottom: 0.7rem;
    }

    &__item::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: 0.5rem;
        background-image: url(../img/chevron-thin-right.svg);
        background-size: cover;

        @supports (-webkit-mask-image: url()) or (mask-image:url()) {


            background-color: #00f;
            -webkit-mask-image: url(../img/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-image: url(../img/chevron-thin-right.svg);
            mask-size: cover;
            background-image: none;
        }

    }

}

.recommand {
    font-size: 1.1rem;
    display: flex;
    align-items: center;

    &__paragraph {
        margin-right: auto;

    }

    &__picture {}

    &__photo {
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 2px solid var(--color-primary);

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}


.review {
    &:not(:last-of-type) {
        margin-bottom: 3rem;
    }

    @media only screen and (max-width: $bp-pad) {
        padding: 2rem;
        margin-right: 2.8rem;
    }

    position: relative;
    background-color: #fff;
    padding: 2.0rem;
    box-shadow: 0.5rem 2rem 2rem rgba($color: #000000, $alpha: 0.2);
    overflow: hidden;

    &__paragraph {
        margin-bottom: 2rem;
        position: relative;
        z-index: 10;

    }

    &__user {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__box {
        margin-right: auto;
    }

    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.7rem;
    }


    &__name {
        font-weight: 600;
    }

    &__rating {
        font-size: 1.6rem;
        color: var(--color-primary);

    }


}

.cta {
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-width: $bp-pad) {
        padding: 2.5rem;
    }


    &__header {
        font-size: 1.6rem;
        margin-bottom: 4rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    &__button {
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        border: none;
        background-image: linear-gradient(to right, rgb(248, 136, 50), rgb(104, 240, 50));
        color: #fff;
        border-radius: 10rem;
        overflow: hidden;
        position: relative;

        &-up {
            display: inline-block;
            padding: 2rem 7.5rem;
            height: 100%;
            width: 100%;
        }

        &-down {
            display: inline-block;
            padding: 2rem 0;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: -100%;
        }

        &>* {
            transition: all 0.3s;
        }

        &:hover &-up {
            transform: translateY(100%);
        }

        &:hover &-down {
            top: 0;
        }


    }
}